  <div class="row my-5">
{{#each location.equipment}}
    <div class="col-10 col-md-8 col-lg-6 mx-auto">
      <a href="#" onclick=route('device','{{xuid}}') class="btn btn-outline-success btn-block"><h3>{{displayName}}</h3></a>
    </div>
{{/each}}

    <div class="col-10 col-md-8 col-lg-6 mx-auto">
      <a href="#" onclick=route('location','{{location.xuid}}') class="btn btn-outline-success btn-block"><h3>Back</h3></a>
    </div>
  </div>
