{{> docheader}}

<div class="container">
  <div class="row my-5 py-5">

    <div class="col-12 col-lg-2" id="menu-pane">

      <div class="row my-5 py-5">
        <div class="col-5 col-lg-12 my-3">
          <a href="#" onclick=route("inventory") class="btn btn-outline-success btn-block"><h3>Inventory</h3></a>
        </div>
        <div class="col-5 col-lg-12 my-3">
          <a href="#" onclick=route("location") class="btn btn-outline-success btn-block"><h3>Locations</h3></a>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-10" id="main-pane">
    </div>

  </div>
</div>
{{> scripts}}
{{> docfooter}}
