{{> docheader}}
<div class="container text-center py-5">
  <div class="row my-5">
    <div class="col-10 col-md-8 col-lg-6 mx-auto">
      <a href="/login/" class="btn btn-outline-success btn-block"><h3>Login</h3></a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-10 col-md-8 col-lg-6 mx-auto">
      <a href="/signup/" class="btn btn-outline-success btn-block"><h3>Sign Up</h3></a>
    </div>
  </div>
</div>
{{> scripts}}
{{> docfooter}}
