<h1>{{location.displayName}}</h1>
<div class="row my-5">
  <div class="col-10 col-md-8 col-lg-6 mx-auto">
    <a href="#" onclick=route('equipment') class="btn btn-outline-success btn-block"><h3>Equipment</h3></a>
  </div>
</div>
<div class="row my-5">
  <div class="col-10 col-md-8 col-lg-6 mx-auto">
    <a href="/game/location/status" class="btn btn-outline-success btn-block"><h3>Status</h3></a>
  </div>
</div>
<div class="row my-5">
  <div class="col-10 col-md-8 col-lg-6 mx-auto">
    <a href="/game/location/people" class="btn btn-outline-success btn-block"><h3>People</h3></a>
  </div>
</div>
